@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
body{
    font-family: 'Amatic SC', normal;
   /* background-image: src="/asserts:img/background.jpg";*/
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.sidebar{
    position: fixed;
    left: -411px;
    width: 411px;
    height: 100%;
    background:#D9D9D9;
    transition: all .5s ease;
}

.sidebar header{
    position: relative;
    left: 164px;
    height: 132px;
    width: 83px;
    top:17px;
    background: #D9D9D9;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 80px;
    font-size: 60px;
    font-family: Amatic SC;
    color: black;
    padding-left: 37px;
    box-sizing: border-box;
    transition: .4s;
}
ul li:hover a{
    padding-left: 50px;
}
#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer; /*перевірити нащо*/
    border-radius: 3px;
}
label #btn{
    left: 38px;
    top: 39px;
    transition: all .5s;/*рух лого менюшки*/
}
label #cancel{
    z-index: 1111;/*загуглить*/
    left: -370px;
    right: 17.5px;
    top: 519px;
    transition: all .5s ease;
}
#check:checked ~ .sidebar{
    left: 0;
}ß
/*щоб менюшки лого гарно зникало при відкритті*/
#check:checked ~ label #btn {
    left: 350px;/*відстань руху зникаючого лого меню під час відкриття меню*/
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel {
    left: 370px;
}
.bg{
    background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;/*to get rid of the repeated images at the bottom.*/
}

